<div>
  <button [routerLink]="['seller', 'products', 'add']" class="btn btn-secondary">
    Add Product
  </button>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ p.categoryId.name }}</td>
        <td>{{ p.title }}</td>
        <td>{{ p.price }}</td>
        <td>{{ p.description }}/td></td>
        <td>
          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Edit</a>
          </div>
          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Remove</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>