<div>
  <!-- <a
    href="#"
    [routerLink]="['.', 'add']"
    type="button"
    class="btn btn-secondary"
  >
    Add Product
  </a> -->
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Edit</a>
          </div>

          <a>Image</a>
          <a>Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
