<div class="container">
  <h2>Seller's Products</h2>
  <button (click)="onAddClickButton($event)" class="btn btn-success">
    Add Product
  </button>
  <hr />
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Edit</a>
          </div>

          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Image</a>
          </div>
          <div routerLink="create-product" fragment="create-product">
            <a href="seller/create-product">Remove</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
