  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="[ '/' ]">eCommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" [routerLink]="[ '/profile']">{{currentUser.name}}</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" (click)="logout()" href="#">Logout</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated && currentUser.role == CurrentRole.Buyer">
            <a class="nav-link" [routerLink]="['/buyer/shopping-cart']" href="#">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" [routerLink]="[ '/auth', 'login' ]">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" [routerLink]="[ '/auth', 'signup' ]">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
