<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" *ngFor="let title of headerTitles">{{title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pendingReview of pendingReviews; let i = index;">
    <th scope="row">{{i + 1}}</th>
    <td>{{pendingReview.review.buyer.name}}</td>
    <td>{{pendingReview.productDetails.title}}</td>
    <td>{{pendingReview.review.createdDate}}</td>
    <td>{{pendingReview.review.stars}}</td>
    <td>{{pendingReview.review.comment}}</td>
    <td class="action-buttons">
      <button (click)="approveReview(pendingReview.productDetails.productId, pendingReview.review._id)"
              type="button"
              class="btn btn-secondary">Post</button>
      <button (click)="rejectReview(pendingReview.productDetails.productId, pendingReview.review._id)"
              type="button"
              class="btn btn-secondary">Decline</button>
    </td>
  </tr>
  </tbody>
</table>
