<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" *ngFor="let title of headerTitles">{{title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pendingReview of pendingReviews; let i = index;">
    <th scope="row">{{i + 1}}</th>
    <td>{{pendingReview.buyer.name}}</td>
    <td>product name</td>
    <td>{{pendingReview.createdDate}}</td>
    <td>{{pendingReview.stars}}</td>
    <td>{{pendingReview.comment}}</td>
    <td class="action-buttons">
<!--      <button (click)="approveReview()"-->
<!--              type="button"-->
<!--              class="btn btn-secondary">Post</button>-->
<!--      <button (click)="rejectReview()"-->
<!--              type="button"-->
<!--              class="btn btn-secondary">Decline</button>-->
    </td>
  </tr>
  </tbody>
</table>
