<div class="h4">Add address</div>
<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" formControlName="city" placeholder="City">
        <p *ngIf="dataForm.controls.city.touched && dataForm.get('city').hasError('required')"
            class="text-danger">
            Incorrect City</p>
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" formControlName="state" placeholder="State">
        <p *ngIf="dataForm.controls.state.touched && dataForm.get('state').hasError('required')"
            class="text-danger">
            Incorrect State</p>
    </div>
    <div class="form-group">
        <label for="state">Street</label>
        <input type="text" class="form-control" formControlName="street" placeholder="Street">
        <p *ngIf="dataForm.controls.street.touched && dataForm.get('street').hasError('required')"
            class="text-danger">
            Incorrect Street</p>
    </div>
    <div class="form-group">
        <label for="state">ZIP Code</label>
        <input type="text" class="form-control" formControlName="zipCode" placeholder="ZIP Code">
        <p *ngIf="dataForm.controls.zipCode.touched && dataForm.get('zipCode').hasError('required')"
            class="text-danger">
            Incorrect ZIP Code</p>
    </div>
    <div class="form-group">
        <label for="state">Country</label>
        <input type="text" class="form-control" formControlName="country" placeholder="Country">
        <p *ngIf="dataForm.controls.country.touched && dataForm.get('country').hasError('required')"
            class="text-danger">
            Incorrect Country</p>
    </div>
    <div class="form-group">
        <label for="state">Phone Number</label>
        <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
        <p *ngIf="dataForm.controls.phoneNumber.touched && dataForm.get('phoneNumber').hasError('required')" class="text-danger">
            Incorrect Phone Number</p>
    </div>
    <div id="form-group">
        <input class="btn btn-primary btn-sm" [disabled]="!dataForm.valid" value="Save" type="submit" />
    </div>
</form>