<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Ordered products</th>
        <th scope="col">Buyer</th>
        <th scope="col">Sipping address</th>
        <th scope="col">Dates</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <div routerLink="create-product">
            <a href="seller/create-product">Cancel Orders</a>
          </div>
          <div routerLink="create-product">
            <a href="seller/create-product">Make it as shipped</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
